*, mat-card-actions, mat-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 400px;
}

.container {
    min-height: 100vh;
    width: 100%;
    background: url('../../../assets/images/bg01.jpg');
    background-size: cover;
    background-position: top right;
}

.link {
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  transition: color .2s ease-in-out;
}
.link:hover,
.link:focus {
  color: #23adec;
}