<mat-button-toggle class="vertical-menu-button" (click)="onCalendarClick()">
  MY CALENDAR
</mat-button-toggle>
<mat-button-toggle class="vertical-menu-button" (click)="onAddRunnerClick()">
  ADD RUNNER
</mat-button-toggle>
<mat-button-toggle class="vertical-menu-button" (click)="onRunnersClick()">
  RUNNERS
</mat-button-toggle>
<mat-button-toggle class="vertical-menu-button" (click)="onAddTrainingClick()">
  ADD TRAINING
</mat-button-toggle>
<mat-button-toggle class="vertical-menu-button" (click)="onReportIssueClick()">
  REPORT ISSUE
</mat-button-toggle>
