<div class="container">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header fxLayoutAlign="center center">
      Add a new runner
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="runnerForm" fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="firstname" />
          <mat-hint>First Name</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastname" />
          <mat-hint>Last Name</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email" />
          <mat-hint>Email Adress</mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between start">
      <button mat-raised-button color="accent" type="button" [disabled]="!runnerForm.dirty" (click)="clearForm()">Reset</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="runnerForm.invalid" (click)="createRunner()">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
