/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/list/main.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@fullcalendar/timegrid/main.css'; */

body {
  margin: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  min-height: 100vh;
}

.title {
  color: #a81818;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-family: 'Baloo Bhai', cursive;
  margin: 0;
}

.success-snackbar {
  background-color: #25be25 !important;
  color: white !important;
}

.error-snackbar {
  background-color: #e53935 !important;
  color: white !important;
}