/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  margin: 0;
}

.title {
  color: #a81818;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-family: 'Baloo Bhai', cursive;
  margin: 0;
}

.success-snackbar {
  background-color: #25be25 !important;
  color: white !important;
}

.warning-snackbar {
  background-color: #e53935 !important;
  color: white !important;
}