<div [class.alternative]="themes[0]">
  <mat-toolbar color="primary">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex>
        <span>Logo</span>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
        <span fxFlex="50"></span>
        <span fxFlex="10">Logo</span>
        <span fxFlex="10">Logo</span>
        <span fxFlex="10">Logo</span>
        <span fxFlex="10">
          <button mat-icon-button (click)="changeTheme()" color="raised">
            <mat-icon>format_color_fill</mat-icon>
          </button>
        </span>
      </div>
    </div>
  </mat-toolbar>
</div>
